@import url("style.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
@import url(//fonts.googleapis.com/css?family=Marvel);
@import url(//fonts.googleapis.com/css?family=Bad+Script);
@import url(//fonts.googleapis.com/css?family=Dancing+Script);
body { background:url('../images/body.jpg') repeat 50% 0%; }
@media (max-width: 767px) {
	body { padding:0; }
}
.main-holder { overflow:hidden; }
.main-holder input[type="text"], .main-holder input[type="email"], .main-holder textarea {
	background:#f9f9f9;
	min-height:20px;
	margin:0;
	padding:5px 10px 5px 10px !important;
	border:1px solid #eae9e9;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	resize:none;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#7a7375;
}
html.ie8 .main-holder input[type="text"], html.ie8 .main-holder input[type="email"], html.ie8 .main-holder textarea { line-height:20px; }
.main-holder input[type="submit"], .main-holder input[type="reset"] {
	background:none;
	height:32px;
	margin:0 15px 0 0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	font-size:18px;
	font-weight:400;
	text-shadow:none;
	text-transform:capitalize;
	text-decoration:none;
	color:#998499;
}
.main-holder input[type="submit"]:focus, .main-holder input[type="reset"]:focus {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	color:#998499;
}
.main-holder input[type="submit"]:hover, .main-holder input[type="reset"]:hover {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	color:#f26b5d;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.main-holder .search-form input[type="text"] { width:160px; }
}
html.ie8 .main-holder .search-form input[type="text"] { width:160px; }
@media (min-width: 768px) and (max-width: 979px) {
	.main-holder .search-form input[type="text"] { width:120px; }
}
@media (max-width: 480px) {
	.main-holder .search-form input[type="text"] { width:170px; }
}
.main-holder .search-form input[type="submit"] { margin:0 0 0 10px; }
h1 {
	margin-bottom:31px;
	padding:0 0 2px 0;
	font-weight:600 !important;
	text-transform:capitalize;
}
h1 a {
	text-decoration:none;
	color:#362e2e;
}
h1 a:focus {
	text-decoration:none;
	color:#362e2e;
}
h1 a:hover {
	text-decoration:none;
	color:#f26b5d;
}
h2 {
	margin-bottom:31px;
	font-weight:600 !important;
	text-transform:capitalize;
}
h2 a {
	text-decoration:none;
	color:#362e2e;
}
h2 a:focus {
	text-decoration:none;
	color:#362e2e;
}
h2 a:hover {
	text-decoration:none;
	color:#f26b5d;
}
h3 {
	margin-bottom:31px;
	padding:0 0 2px 0;
	font-weight:600 !important;
	text-transform:capitalize;
}
h3 a {
	text-decoration:none;
	color:#362e2e;
}
h3 a:focus {
	text-decoration:none;
	color:#362e2e;
}
h3 a:hover {
	text-decoration:none;
	color:#f26b5d;
}
h4 {
	margin-bottom:35px;
	font-weight:600 !important;
}
p { margin:0 0 20px 0; }
.header {
	background:#362e2e;
	margin:0;
	padding:0;
	border:none;
}
@media (max-width: 767px) {
	.header {
		padding:15px 20px;
		text-align:center;
	}
}
.header:before {
	background:url('../images/header_shadow.png') repeat-x 0% 0%;
	display:block;
	width:100%;
	height:10px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:-10px;
	content:'';
}
.header .logo {
	background:#f26b5d;
	margin:0;
	padding:23px 43px 15px 44px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo { width:auto; }
}
@media (max-width: 767px) {
	.header .logo {
		display:inline-block;
		float:none;
		margin:0 0 15px 0;
		vertical-align:top;
	}
}
.header .logo .logo_h__txt {
	margin:-4px 0 0 0;
	padding:0 0 7px 0;
}
.header .logo .logo_h__txt a { text-decoration:none; }
.header .logo .logo_h__txt a:focus {
	text-decoration:none;
	color:#eeeded;
}
.header .logo .logo_h__txt a:hover {
	text-decoration:none;
	color:#eeeded;
}
.header .logo .logo_tagline { display:none; }
.header .nav__primary { margin:0 -16px 0 0; }
@media (min-width: 979px) and (max-width: 1200px) {
	.header .nav__primary { margin:0; }
}
html.ie8 .header .nav__primary { margin:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.header .nav__primary { margin:0; }
}
@media (max-width: 767px) {
	.header .nav__primary { margin:0; }
}
.header .nav__primary .sf-menu ul {
	background:#bbbabb;
	width:132px;
	padding:29px 0 33px 0;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
	box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.header .nav__primary .sf-menu ul:before {
	background:url('../images/menu_arrow.png') no-repeat 0% 0%;
	display:block;
	width:16px;
	height:7px;
	overflow:hidden;
	position:absolute;
	top:-7px;
	left:23px;
	content:'';
}
.header .nav__primary .sf-menu > li {
	background:none;
	margin:0 0 0 1px;
}
.header .nav__primary .sf-menu > li > a {
	height:51px;
	padding:20px 16px 0 16px;
	border:none;
}
.header .nav__primary .sf-menu > li li {
	background:none;
	margin:4px 0 0 0;
}
.header .nav__primary .sf-menu > li li:first-child { margin:0; }
.header .nav__primary .sf-menu > li li a {
	padding:0 14px 0 14px;
	border:none;
	line-height:20px;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	text-align:left;
	text-decoration:none;
	color:#434242;
}
.header .nav__primary .sf-menu > li li .sf-sub-indicator { display:none; }
.header .nav__primary .sf-menu li:hover ul, .header .nav__primary .sf-menu li.sfHover ul {
	top:82px;
	left:-4px;
}
.header .nav__primary ul.sf-menu li li:hover ul, .header .nav__primary ul.sf-menu li li.sfHover ul {
	top:-29px;
	left:136px;
}
.header .nav__primary ul.sf-menu li li:hover ul:before, .header .nav__primary ul.sf-menu li li.sfHover ul:before { display:none; }
.header .nav__primary .sf-menu > li > a:hover, .header .nav__primary .sf-menu > li.sfHover> a, .header .nav__primary .sf-menu > li.current-menu-item > a, .header .nav__primary .sf-menu > li.current_page_item > a {
	background:#847e84;
	color:#fff;
}
.header .nav__primary .sf-menu li li > a:hover, .header .nav__primary .sf-menu li li.sfHover > a, .header .nav__primary .sf-menu li li.current-menu-item > a, .header .nav__primary .sf-menu li li.current_page_item > a {
	background:none;
	color:#fff;
}
.header .nav__primary .sf-sub-indicator {
	margin:0 -5px 0 0;
	top:50px;
	right:50%;
}
#slider-wrapper .container {
	position:relative;
	width:1920px;
	margin:0 0 0 -960px;
	left:50%;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container {
		width:1200px;
		margin:0 0 0 -600px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container {
		width:auto;
		margin:0;
		left:auto;
	}
}
#slider-wrapper .container .camera_wrap { margin:0 !important; }
#slider-wrapper .container .camera_caption {
	width:1170px;
	margin:0 0 0 -585px;
	text-align:center;
	position:absolute;
	left:50%;
	bottom:155px;
}
@media (min-width: 979px) and (max-width: 1200px) {
	#slider-wrapper .container .camera_caption {
		width:940px;
		margin:0 0 0 -470px;
	}
}
html.ie8 #slider-wrapper .container .camera_caption {
	width:940px;
	margin:0 0 0 -470px;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption {
		width:724px;
		margin:0 0 0 -362px;
		bottom:65px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption {
		width:240px;
		margin:0;
		right:20px;
		bottom:15%;
		left:auto;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption { width:120px; }
}
#slider-wrapper .container .camera_caption div {
	background:none;
	padding:0 0 0 760px;
}
@media (min-width: 979px) and (max-width: 1200px) {
	#slider-wrapper .container .camera_caption div { padding:0 0 0 530px; }
}
html.ie8 #slider-wrapper .container .camera_caption div { padding:0 0 0 530px; }
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption div { padding:0 0 0 440px; }
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div { padding:0; }
}
#slider-wrapper .container .camera_caption div strong {
	display:block;
	margin:0 0 30px 0;
	line-height:60px;
	font-family:'Kaushan Script', cursive;
	font-size:60px;
	font-weight:400;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption div strong {
		line-height:40px;
		font-size:40px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div strong {
		margin:0 0 10px 0;
		line-height:20px;
		font-size:20px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div strong {
		line-height:20px;
		font-size:16px;
	}
}
#slider-wrapper .container .camera_caption div p {
	background:url('../images/line.png') repeat-x 0% 100%;
	margin:0 0 30px 0;
	padding:0 0 42px 0;
	line-height:30px;
	font-size:30px;
	font-weight:300;
	font-style:italic;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption div p {
		line-height:20px;
		font-size:20px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div p {
		margin:0 0 10px 0;
		padding:0 0 11px 0;
		line-height:18px;
		font-size:14px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div p { display:none; }
}
#slider-wrapper .container .camera_caption div a {
	background:#f26b5d;
	display:inline-block;
	height:52px;
	margin:0;
	padding:0 40px 0 40px;
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	border-radius:24px;
	vertical-align:top;
	line-height:50px;
	font-size:20px;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div a {
		height:40px;
		padding:0 20px 0 20px;
		line-height:40px;
		font-size:14px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div a {
		height:30px;
		padding:0 15px 0 15px;
		line-height:30px;
		font-size:12px;
	}
}
#slider-wrapper .container .camera_caption div a:hover { background:#8f8a8b; }
#slider-wrapper .container .camera_pag {
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}
#slider-wrapper .container .camera_thumbs {
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}
#slider-wrapper .container .camera_thumbs .camera_thumbs_cont { background:none; }
.content-holder {
	background:url('../images/content.gif') repeat-y 50% 0%;
	margin:0;
	padding:87px 0 100px 0;
}
html.ie8 .content-holder { background:url('../images/content_1.gif') repeat-y 50% 0%; }
@media (max-width: 767px) {
	.content-holder { padding:87px 20px 100px 20px; }
}
body.home .content-holder { padding:87px 0 0 0; }
@media (max-width: 767px) {
	body.home .content-holder { padding:87px 20px 0 20px; }
}
#sidebar .widget { margin:86px 0 0 0; }
#sidebar .widget:first-child { margin:0; }
#sidebar ul {
	margin:0;
	padding:0;
}
#sidebar ul li {
	background:url('../images/marker.png') no-repeat 0% 7px;
	margin:10px 0 0 0;
	padding:0 0 0 20px;
	list-style:none;
	line-height:20px;
	font-size:14px;
	color:#7a7375;
}
#sidebar ul li:first-child { margin:0; }
#sidebar ul li a {
	text-decoration:none;
	color:#7a7375;
}
#sidebar ul li a:hover {
	text-decoration:none;
	color:#f26b5d;
}
#sidebar ul li ul { padding:10px 0 0 0; }
#sidebar .social li {
	background:none;
	width:100%;
	overflow:hidden;
	float:none;
	padding:0;
}
#sidebar #wp-calendar caption { color:#f26b5d; }
#sidebar #wp-calendar thead tr th { color:#f26b5d; }
.title-box {
	margin:0 0 99px 0;
	text-align:center;
}
.title-box h2 {
	margin:0;
	padding:0;
	line-height:48px;
	font-size:40px;
	font-weight:400 !important;
}
.service-box {
	background:#f9f9f9;
	margin:0 0 117px 0;
	padding:45px 25px 49px 25px;
	border:1px solid #ebeaea;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-align:center;
}
@media (max-width: 767px) {
	.service-box { margin:0 0 50px 0; }
}
.service-box:hover {
	border-color:#dbd9d9;
	-webkit-box-shadow:1px 4px 4px rgba(208,206,206,0.6);
	-moz-box-shadow:1px 4px 4px rgba(208,206,206,0.6);
	box-shadow:1px 4px 4px rgba(208,206,206,0.6);
}
.service-box .icon {
	float:none;
	margin:0 0 43px 0;
}
.service-box h2 {
	margin:0 0 44px 0;
	line-height:30px;
	font-size:24px;
	color:#4d4346;
}
.service-box .service-box_txt { margin:0 0 40px 0; }
.service-box .btn-align { text-align:center; }
a.btn-primary {
	background:none;
	margin:0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	line-height:22px;
	font-size:18px;
	font-weight:400;
	text-shadow:none;
	text-decoration:none;
	color:#998499;
}
a.btn-primary:focus {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	color:#998499;
}
a.btn-primary:hover {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	color:#f26b5d;
}
.hero-unit.extra {
	background:none;
	margin:0 0 114px 0;
	padding:0 80px 0 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.hero-unit.extra { padding:0; }
}
html.ie8 .hero-unit.extra { padding:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit.extra { padding:0; }
}
@media (max-width: 767px) {
	.hero-unit.extra { padding:0; }
}
.hero-unit.extra h1 {
	margin:0 0 12px 0;
	padding:0;
	line-height:48px;
	font-family:'Kaushan Script', cursive;
	font-size:40px;
	font-weight:400;
	color:#362e2e;
}
.hero-unit.extra p {
	background:url('../images/quotes.png') no-repeat 0% 0%;
	margin:0 0 10px 0;
	padding:24px 0 0 30px;
	line-height:20px;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#7a7375;
}
.hero-unit.extra strong {
	display:block;
	padding:18px 142px 0 0;
	line-height:20px;
	font-family:'Bad Script', cursive;
	font-size:18px;
	font-weight:400;
	text-align:right;
	color:#362e2e;
}
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit.extra strong { padding:18px 10px 0 0; }
}
@media (max-width: 767px) {
	.hero-unit.extra strong { padding:18px 10px 0 0; }
}
.hero-unit.extra em {
	display:block;
	padding:13px 128px 0 0;
	line-height:30px;
	font-family:'Dancing Script', cursive;
	font-size:30px;
	font-weight:400;
	font-style:normal;
	text-align:right;
	color:#4d4346;
}
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit.extra em { padding:13px 0 0 0; }
}
@media (max-width: 767px) {
	.hero-unit.extra em { padding:13px 0 0 0; }
}
.box {
	background:#bb7c6e;
	position:relative;
	text-align:center;
}
.box:before {
	background:#bb7c6e;
	display:block;
	width:171px;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:-171px;
	z-index:-1;
	content:'';
}
.box:after {
	background:#bb7c6e;
	display:block;
	width:171px;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	right:-171px;
	z-index:-1;
	content:'';
}
.box .inner { padding:54px 0 60px 0; }
.box .inner:before {
	background:url('../images/arrow.png') no-repeat 0% 0%;
	display:block;
	width:38px;
	height:15px;
	overflow:hidden;
	margin:0 0 0 -19px;
	position:absolute;
	top:0;
	left:50%;
	content:'';
}
.box h2 {
	margin:0 0 56px 0;
	line-height:30px;
	font-size:24px;
	font-weight:600;
	color:#f4f3f3;
}
.thumbnail {
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
ul.news { margin:0 !important; }
ul.news li {
	display:inline-block;
	width:270px;
	overflow:hidden;
	position:relative;
	margin:0 0 0 27px;
	vertical-align:top;
}
@media (min-width: 979px) and (max-width: 1200px) {
	ul.news li {
		width:220px;
		margin:0 0 0 20px;
	}
}
html.ie8 ul.news li {
	width:220px;
	margin:0 0 0 19px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li {
		width:166px;
		margin:0 0 0 20px;
	}
}
@media (max-width: 767px) {
	ul.news li {
		width:44%;
		margin:0 3% 6% 3% !important;
	}
}
@media (max-width: 480px) {
	ul.news li {
		width:270px;
		margin:0 0 20px 0 !important;
	}
}
ul.news li:first-child { margin:0; }
html.ie8 ul.news li:first-child { margin:0; }
ul.news li:hover .post_container { display:block; }
ul.news li:hover .post_title { display:none; }
ul.news li .thumbnail { margin:0; }
@media (min-width: 979px) and (max-width: 1200px) {
	ul.news li .thumbnail {
		width:100%;
		height:auto;
	}
}
html.ie8 ul.news li .thumbnail {
	width:100%;
	height:auto;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li .thumbnail {
		width:100%;
		height:auto;
	}
}
@media (max-width: 767px) {
	ul.news li .thumbnail { float:none; }
}
@media (max-width: 480px) {
	ul.news li .thumbnail { width:auto; }
}
@media (max-width: 767px) {
	ul.news li .thumbnail img {
		width:100%;
		height:auto;
	}
}
ul.news li .post_container {
	background:#2a2525;
	display:none;
	position:absolute;
	top:0;
	right:115px;
	bottom:0;
	left:0;
	z-index:99;
}
@media (min-width: 979px) and (max-width: 1200px) {
	ul.news li .post_container { right:90px; }
}
html.ie8 ul.news li .post_container { right:90px; }
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li .post_container { right:70px; }
}
@media (max-width: 767px) {
	ul.news li .post_container { right:40%; }
}
ul.news li .post_container .indent { padding:34px 8px 0 8px; }
@media (min-width: 979px) and (max-width: 1200px) {
	ul.news li .post_container .indent { padding:12px 8px 0 8px; }
}
html.ie8 ul.news li .post_container .indent { padding:12px 8px 0 8px; }
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li .post_container .indent { padding:12px 8px 0 8px; }
}
@media (max-width: 767px) {
	ul.news li .post_container .indent { padding:12px 8px 0 8px; }
}
ul.news li .post_container .indent h5 {
	margin:0 0 12px 0;
	line-height:30px;
	font-family:'Marvel', sans-serif;
	font-size:24px;
	font-weight:400;
	color:#f4f3f3;
}
@media (min-width: 979px) and (max-width: 1200px) {
	ul.news li .post_container .indent h5 {
		line-height:26px;
		font-size:20px;
	}
}
html.ie8 ul.news li .post_container .indent h5 {
	line-height:26px;
	font-size:20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li .post_container .indent h5 {
		line-height:20px;
		font-size:14px;
	}
}
@media (max-width: 767px) {
	ul.news li .post_container .indent h5 {
		line-height:20px;
		font-size:14px;
	}
}
ul.news li .post_container .indent h5 a {
	text-decoration:none;
	color:#f4f3f3;
}
ul.news li .post_container .indent h5 a:hover {
	text-decoration:none;
	color:#f26b5d;
}
ul.news li .post_container .indent .excerpt {
	margin:0 0 16px 0;
	font-weight:600;
	color:#a6a6a6;
}
@media (min-width: 979px) and (max-width: 1200px) {
	ul.news li .post_container .indent .excerpt {
		line-height:18px;
		font-size:12px;
	}
}
html.ie8 ul.news li .post_container .indent .excerpt {
	line-height:16px;
	font-size:11px;
}
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li .post_container .indent .excerpt {
		max-height:96px;
		overflow:hidden;
		line-height:16px;
		font-size:11px;
	}
}
@media (max-width: 767px) {
	ul.news li .post_container .indent .excerpt {
		line-height:16px;
		font-size:11px;
	}
}
ul.news li .post_container .indent a.btn-primary { color:#f26b5d; }
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li .post_container .indent a.btn-primary {
		line-height:18px;
		font-size:12px;
	}
}
@media (max-width: 767px) {
	ul.news li .post_container .indent a.btn-primary {
		line-height:18px;
		font-size:12px;
	}
}
ul.news li .post_container .indent a.btn-primary:focus { color:#f26b5d; }
ul.news li .post_container .indent a.btn-primary:hover { color:#f4f3f3; }
ul.news li .post_title {
	background:url('../images/bg.png') repeat 0% 0%;
	padding:13px 0 14px 0;
	line-height:30px;
	font-family:'Marvel', sans-serif;
	font-size:24px;
	font-weight:400;
	color:#f4f3f3;
	position:absolute;
	right:0;
	bottom:0;
	left:0;
}
@media (min-width: 979px) and (max-width: 1200px) {
	ul.news li .post_title { font-size:20px; }
}
html.ie8 ul.news li .post_title { font-size:20px; }
@media (min-width: 768px) and (max-width: 979px) {
	ul.news li .post_title { font-size:16px; }
}
@media (max-width: 767px) {
	ul.news li .post_title { font-size:16px; }
}
ul.news li .post_title a {
	text-decoration:none;
	color:#f4f3f3;
}
ul.news li .post_title a:hover {
	text-decoration:none;
	color:#f26b5d;
}
ul.list_1 { padding:7px 0 0 0; }
@media (min-width: 768px) and (max-width: 979px) {
	ul.list_1 li {
		line-height:18px;
		font-size:12px;
	}
}
@media (max-width: 767px) {
	ul.list_1 li {
		width:100%;
		overflow:hidden;
	}
}
@media (max-width: 480px) {
	ul.list_1 li {
		line-height:18px;
		font-size:12px;
	}
}
ul.list_1 li .thumbnail { margin:0 0 15px 0; }
@media (max-width: 767px) {
	ul.list_1 li .thumbnail { margin:0 20px 5px 0; }
}
@media (max-width: 767px) {
	ul.list_1 li .clear { display:none; }
}
ul.list_1 li h5 {
	margin:0;
	line-height:20px;
	font-size:14px;
	font-weight:700;
	color:#362e2e;
}
@media (max-width: 480px) {
	ul.list_1 li h5 {
		line-height:18px;
		font-size:12px;
	}
}
ul.list_1 li h5 a {
	text-decoration:none;
	color:#362e2e;
}
ul.list_1 li h5 a:hover {
	text-decoration:none;
	color:#f26b5d;
}
.dropcap {
	background:#f26b5d;
	width:60px;
	height:70px;
	overflow:hidden;
	margin:0 30px 0 0;
	padding:0 10px 0 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:70px;
	font-family:'Kaushan Script', cursive;
	font-size:40px;
	font-weight:400;
	text-align:center;
	color:#fff;
}
.extra-wrap h6 { margin:0 0 20px 0; }
.footer {
	background:none;
	margin:0;
	padding:0;
	border:none;
}
@media (max-width: 767px) {
	.footer { padding:0 20px; }
}
.footer .footer-widgets {
	background:#fff url('../images/arrow_bottom.png') no-repeat 50% 0%;
	position:relative;
	width:auto;
	padding:103px 0 119px 0;
	line-height:20px;
	font-size:18px;
	font-weight:400;
	text-align:center;
	color:#7a7375;
}
@media (max-width: 767px) {
	.footer .footer-widgets { padding:50px 0 60px 0; }
}
.footer .footer-widgets:before {
	background:#fff;
	width:171px;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:-171px;
	z-index:-1;
	content:'';
}
.footer .footer-widgets:after {
	background:#fff;
	width:171px;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	right:-171px;
	z-index:-1;
	content:'';
}
.footer .footer-widgets .textwidget { padding:0 230px 0 230px; }
@media (min-width: 979px) and (max-width: 1200px) {
	.footer .footer-widgets .textwidget { padding:0 100px 0 100px; }
}
html.ie8 .footer .footer-widgets .textwidget { padding:0 100px 0 100px; }
@media (min-width: 768px) and (max-width: 979px) {
	.footer .footer-widgets .textwidget { padding:0; }
}
@media (max-width: 767px) {
	.footer .footer-widgets .textwidget { padding:0; }
}
.footer .social-nets-wrapper { margin-top:41px; }
.footer .social-nets-wrapper ul {
	margin:0;
	padding:0;
}
.footer .social-nets-wrapper ul li {
	display:inline-block;
	margin:0 24px;
	padding:0;
	list-style:none;
	vertical-align:top;
}
.footer .social-nets-wrapper ul li a { text-decoration:none; }
.footer .social-nets-wrapper ul li a:hover:before { color:#362e2e; }
.footer .social-nets-wrapper ul li a:before {
	display:inline-block;
	vertical-align:top;
	line-height:42px;
	font-family:FontAwesome;
	font-size:42px;
	color:#f26b5d;
}
.footer .social-nets-wrapper ul li a[title="twitter"]:before { content:'\f099'; }
.footer .social-nets-wrapper ul li a[title="facebook"]:before { content:'\f09a'; }
.footer .social-nets-wrapper ul li a[title="pinterest"]:before { content:'\f0d2'; }
.footer .social-nets-wrapper ul li a[title="google"]:before { content:'\f0d5'; }
.footer .social-nets-wrapper ul li a img { display:none; }
.footer .copyright {
	padding:19px 0;
	text-align:center;
}
.footer .footer-text {
	float:none;
	margin:0;
	line-height:18px;
	font-size:13px;
	text-align:center;
	color:#7f7e7e;
}
.footer .footer-text i {
	margin:0 4px;
	font-style:normal;
}
.footer .footer-text a {
	text-decoration:none;
	color:#7f7e7e;
}
.footer .footer-text a:hover {
	text-decoration:none;
	color:#f26b5d;
}
.footer .footer-nav {
	float:none;
	margin:10px 0 0 0;
}
.footer .footer-nav ul { float:none; }
.footer .footer-nav ul li {
	display:inline-block;
	float:none;
	margin:0 4px;
	padding:0;
	vertical-align:top;
}
.footer .footer-nav ul li.current-menu-item a {
	text-decoration:none;
	color:#f26b5d;
}
.footer .footer-nav ul li a { text-decoration:none; }
.footer .footer-nav ul li a:hover {
	text-decoration:none;
	color:#f26b5d;
}
#back-top-wrapper p#back-top { margin:0; }
#back-top-wrapper p#back-top a {
	background:#8f8a8a;
	width:58px;
}
#back-top-wrapper p#back-top a:hover { background:#f26b5d; }
#back-top-wrapper p#back-top a span {
	background:url('../images/up-arrow.png') no-repeat 0% 0%;
	width:58px;
	height:58px;
	overflow:hidden;
	margin:0;
	padding:0;
}
.title-section { padding:1px 0 10px 0; }
.title-section h1 {
	margin:0 0 10px 0;
	font-weight:600;
}
.title-section ul {
	background:#f2f2f2;
	margin:0;
	padding:8px 11px 9px 11px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.title-section ul li {
	line-height:20px;
	font-size:14px;
	font-weight:400;
	text-shadow:none;
	color:#7a7375;
}
.title-section ul li.active { color:#f26b5d; }
.title-section ul li.divider { margin:0 3px; }
.title-section ul li.divider:after {
	line-height:20px;
	font-size:14px;
	font-weight:400;
	text-shadow:none;
	color:#7a7375;
}
.title-section ul li a {
	text-decoration:none;
	color:#7a7375;
}
.title-section ul li a:hover {
	text-decoration:none;
	color:#f26b5d;
}
.post_meta i { color:#f26b5d; }
.post_meta a { color:#362e2e; }
.post_meta a:focus {
	text-decoration:none;
	color:#362e2e;
}
.post_meta a:hover {
	text-decoration:none;
	color:#f26b5d;
}
.post-author {
	background:#f9f9f9;
	margin:0 0 70px 0;
	padding:15px 20px;
	border:1px solid #eae9e9;
}
.post-author h3 {
	margin:0 0 10px 0;
	line-height:30px;
	font-size:24px;
	color:#362e2e;
}
.post-author h3 a {
	text-decoration:none;
	color:#362e2e;
}
.post-author h3 a:focus {
	text-decoration:none;
	color:#362e2e;
}
.post-author h3 a:hover {
	text-decoration:none;
	color:#f26b5d;
}
.post-author .post-author_gravatar { margin:2px 20px 5px 0; }
.post-author .post-author_gravatar img {
	padding:0;
	border:none;
}
.related-posts { margin:0 0 60px 0; }
.related-posts ul li {
	line-height:20px;
	font-size:14px;
	font-weight:700;
	color:#362e2e;
}
.related-posts ul li a {
	text-decoration:none;
	color:#362e2e;
}
.related-posts ul li a:focus {
	text-decoration:none;
	color:#362e2e;
}
.related-posts ul li a:hover {
	text-decoration:none;
	color:#f26b5d;
}
ol.comment-list li .comment-body {
	background:#f9f9f9 !important;
	border:1px solid #eae9e9;
}
ol.comment-list li .comment-body .author {
	font-size:14px;
	font-weight:700;
	text-align:left;
	color:#362e2e;
}
@media (max-width: 480px) {
	ol.comment-list li .comment-body .extra-wrap { overflow:visible; }
}
ol.comment-list li .comment-body .reply a {
	background:none;
	margin:0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	line-height:22px;
	font-size:18px;
	font-weight:400;
	text-shadow:none;
	text-decoration:none;
	color:#998499;
}
ol.comment-list li .comment-body .reply a:focus {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	color:#998499;
}
ol.comment-list li .comment-body .reply a:hover {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	color:#f26b5d;
}
ol.comment-list li .comment-body .comment-meta {
	line-height:22px;
	color:#f26b5d;
}
.cancel-comment-reply { padding:0 0 8px 0; }
.wpcf7-form .wpcf7-not-valid-tip {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.wpcf7-form .wpcf7-not-valid-tip { font-size:12px; }
}
html.ie8 .wpcf7-form .wpcf7-not-valid-tip { font-size:12px; }
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-form .wpcf7-not-valid-tip {
		padding-left:2px !important;
		padding-right:2px !important;
		font-size:10px !important;
	}
}
.wpcf7-form .wpcf7-response-output {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.wpcf7-form .ajax-loader { margin:6px 0 0 0; }
.filter-wrapper { padding:24px 0 32px 0; }
.filter-wrapper strong {
	margin:0;
	padding:0;
	line-height:28px;
	font-size:20px;
	font-weight:600;
	text-transform:lowercase;
	text-decoration:none;
	color:#362e2e;
}
@media (max-width: 767px) {
	.filter-wrapper strong {
		line-height:24px;
		font-size:16px;
	}
}
.filter-wrapper ul { margin:0; }
.filter-wrapper ul li { margin:0 0 0 27px; }
@media (max-width: 767px) {
	.filter-wrapper ul li { margin:0 0 0 12px; }
}
.filter-wrapper ul li.active a {
	background:none;
	color:#f26b5d;
}
.filter-wrapper ul li.active a:focus {
	background:none;
	color:#f26b5d;
}
.filter-wrapper ul li.active a:hover {
	background:none;
	color:#f26b5d;
}
.filter-wrapper ul li a {
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:28px;
	font-size:20px;
	font-weight:600;
	text-transform:lowercase;
	text-decoration:none;
	color:#362e2e;
}
@media (max-width: 767px) {
	.filter-wrapper ul li a {
		line-height:24px;
		font-size:16px;
	}
}
.filter-wrapper ul li a:focus {
	background:none;
	color:#362e2e;
}
.filter-wrapper ul li a:hover {
	background:none;
	color:#f26b5d;
}
#portfolio-grid li .thumbnail { margin:0 0 15px 0; }
#portfolio-grid li h3 {
	margin:0;
	line-height:20px;
	font-size:14px;
	font-weight:700;
	color:#362e2e;
}
.pagination ul li a {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
}
.type-portfolio .thumbnail.large { margin:0; }
ul.pager { margin-top:30px; }
ul.pager li a {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
}
@media (max-width: 767px) {
	.error404-holder { text-align:center; }
}
.error404-holder .error404-holder_num { color:#f26b5d; }
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder .error404-holder_num { font-size:220px; }
}
.error404-holder h4 {
	line-height:20px;
	font-size:14px;
	color:#362e2e;
}
.faq-list h4 {
	margin:0;
	line-height:20px;
	font-size:14px;
	color:#362e2e;
}
@media (min-width: 768px) and (max-width: 979px) {
	.archive_lists h3 {
		line-height:30px;
		font-size:26px;
	}
}
html.ie8 .posts-grid li .thumbnail img { max-width:inherit; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
